<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="placeholderPrefix" value="${taghcheh_"/>
        <property name="locations">
            <list>
                <value>/WEB-INF/sponsor.properties</value>
                <value>/WEB-INF/ui.properties</value>
            </list>
        </property>
    </bean>


    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass"                            value="${sponsor_hibernate.driverClassName}"/>
        <property name="jdbcUrl"                                value="${sponsor_hibernate.url}"/>
        <property name="user"                                   value="${sponsor_hibernate.username}"/>
        <property name="password"                               value="${sponsor_hibernate.password}"/>

        <property name="acquireIncrement"                       value="20"/>
        <property name="acquireRetryAttempts"                   value="30"/>
        <property name="acquireRetryDelay"                      value="1000"/>
        <property name="autoCommitOnClose"                      value="true"/>
        <!--<property name="checkoutTimeout"                    value="10000"/>-->
        <property name="debugUnreturnedConnectionStackTraces"   value="true"/>
        <property name="idleConnectionTestPeriod"               value="100"/>
        <property name="initialPoolSize"                        value="1"/>
        <!--<property name="maxConnectionAge"                       value="1000"/>-->
        <property name="maxConnectionAge"                       value="1000000"/>
        <property name="maxIdleTime"                            value="200"/>
        <property name="maxIdleTimeExcessConnections"           value="3600"/>
        <property name="maxPoolSize"                            value="10"/>
        <property name="minPoolSize"                            value="1"/>
        <property name="preferredTestQuery"                     value="select 1"/>
        <property name="testConnectionOnCheckin"                value="false"/>
        <property name="unreturnedConnectionTimeout"            value="1000"/>
   </bean>

   <bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
        <property name="dataSource"     ref="dataSource"/>
        <property name="schemaUpdate"   value="${sponsor_schema.update}"/>
        <property name="mappingResources">
            <list>
            	<value>/com/radio/entity/hbms/RecordLabel.hbm.xml</value>
				<value>/com/radio/entity/hbms/Album.hbm.xml</value>
				<value>/com/radio/entity/hbms/Artist.hbm.xml</value>

                <value>/com/radio/entity/hbms/Category.hbm.xml</value>
				<value>/com/radio/entity/hbms/Genre.hbm.xml</value>
				<value>/com/radio/entity/hbms/Role.hbm.xml</value>
				<value>/com/radio/entity/hbms/Song.hbm.xml</value>
                <value>/com/radio/entity/hbms/SongFeature.hbm.xml</value>
				<value>/com/radio/entity/hbms/User.hbm.xml</value>
                <value>/com/radio/entity/hbms/ArtistFeature.hbm.xml</value>
                <value>/com/radio/entity/hbms/AlbumFeature.hbm.xml</value>
                <value>/com/radio/entity/hbms/Station.hbm.xml</value>
                <value>/com/radio/entity/hbms/StationFeature.hbm.xml</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">${taghcheh_hibernate.dialect}</prop>
                <prop key="hibernate.show_sql">${taghcheh_hibernate.showsql}</prop>
                <!--<prop key="hibernate.hbm2ddl.auto">update</prop>-->
                 <prop key="hibernate.generate_statistics">true</prop>

                <!--<prop key="hibernate.cache.use_second_level_cache">true</prop>-->
                <!--<prop key="hibernate.cache.use_query_cache">true</prop>-->
                <!--<prop key="hibernate.cache.region.factory_class">net.sf.ehcache.hibernate.SingletonEhCacheRegionFactory</prop>-->
                <!--<prop key="net.sf.ehcache.configurationResourceName">ehcache.xml</prop>-->

                <prop key="hibernate.connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</prop>
                <prop key="hibernate.use_sql_comments">true</prop>

                <prop key="hibernate.transaction.auto_close_session">true</prop>

            </props>
        </property>
        <property name="eventListeners">
            <map>
                <entry key="merge">
                    <bean class="org.springframework.orm.hibernate3.support.IdTransferringMergeEventListener"/>
                </entry>
            </map>
        </property>
    </bean>

    <bean id="txManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
        <!--<property name="prepareConnection" value="true"/>-->
        <!--<property name="hibernateManagedSession" value="true"/>-->
    </bean>

</beans>