<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:lang="http://www.springframework.org/schema/lang"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:tool="http://www.springframework.org/schema/tool"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                           http://www.springframework.org/schema/lang  http://www.springframework.org/schema/lang/spring-lang-3.0.xsd
                           http://www.springframework.org/schema/util  http://www.springframework.org/schema/util/spring-util-3.0.xsd
                           http://www.springframework.org/schema/tool  http://www.springframework.org/schema/tool/spring-tool-3.0.xsd
                           http://www.springframework.org/schema/aop   http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
                           http://www.springframework.org/schema/jee   http://www.springframework.org/schema/jee/spring-jee-3.0.xsd
                           http://www.springframework.org/schema/tx    http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">


    <import resource="Spring-Hibernate.xml"/>
    <import resource="mvc-dispatcher-servlet.xml"/>
    <import resource="Spring-Security.xml"/>

    <!-- Song Beans -->
    <bean class="com.radio.svc.songengine.SongSelectorByGenre" id="songSelectorByGenre">
        <property name="commonFile" ref="commonFile"/>
        <property name="songLogic" ref="songLogic"/>
        <property name="userLogic" ref="userLogic"/>
    </bean>



    <bean class="com.radio.svc.dalc.hibernate.SongDA" id="songDA">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean class="com.radio.svc.logic.SongLogic" id="songLogic">
        <property name="songDA" ref="songDA"/>
        <property name="albumDA" ref="albumDA"/>
        <property name="artistDA" ref="artistDA"/>
        <property name="commonFile" ref="commonFile"/>
        <property name="genreDA" ref="genreDA"/>
        <property name="stationDA" ref="stationDA"/>
        <property name="songSelector" ref="songSelectorByGenre"/>
    </bean>

    <bean class="com.radio.svc.facade.SongFacede" id="songFacede">
        <property name="songLogic" ref="songLogic"/>
    </bean>
    <!-- End Song Beans -->

    <!-- Artist Beans -->
    <bean class="com.radio.svc.dalc.hibernate.ArtistDA" id="artistDA">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean class="com.radio.svc.logic.ArtistLogic" id="artistLogic">
        <property name="artistDA" ref="artistDA"/>
        <property name="commonFile" ref="commonFile"/>
        <property name="albumDA" ref="albumDA"/>
        <property name="artistFeatureDA" ref="artistFeatureDA"/>
    </bean>

    <bean class="com.radio.svc.facade.ArtistFacede" id="artistFacede">
        <property name="artistLogic" ref="artistLogic"/>
    </bean>

    <bean class="com.radio.svc.dalc.hibernate.ArtistFeatureDA" id="artistFeatureDA">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <!-- End Artist Beans -->

    <!-- Album Beans -->
    <bean class="com.radio.svc.dalc.hibernate.AlbumDA" id="albumDA">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean class="com.radio.svc.logic.AlbumLogic" id="albumLogic">
        <property name="albumDA" ref="albumDA"/>
        <property name="artistDA" ref="artistDA"/>
        <property name="commonFile" ref="commonFile"/>
        <property name="imageFormat" ref="imageFormat"/>
        <property name="recordLabelDA" ref="recordLabelDA"/>
        <property name="artistLogic" ref="artistLogic"/>
    </bean>

    <bean class="com.radio.svc.facade.AlbumFacade" id="albumFacade">
        <property name="albumLogic" ref="albumLogic"/>
    </bean>
    <!-- End Album Beans -->

    <!-- Genre Beans -->
    <bean class="com.radio.svc.dalc.hibernate.GenreDA" id="genreDA">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean class="com.radio.svc.logic.GenreLogic" id="genreLogic">
        <property name="genreDA" ref="genreDA"/>
    </bean>

    <bean class="com.radio.svc.facade.GenreFacade" id="genreFacade">
        <property name="genreLogic" ref="genreLogic"/>
    </bean>
    <!-- End Genre Beans -->

    <!-- Record Label Beans -->
    <bean class="com.radio.svc.dalc.hibernate.RecordLabelDA" id="recordLabelDA">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean class="com.radio.svc.logic.RecordLabelLogic" id="recordLabelLogic">
        <property name="commonFile" ref="commonFile"/>
        <property name="imageFormat" ref="imageFormat"/>
        <property name="recordLabelDA" ref="recordLabelDA"/>
    </bean>

    <bean class="com.radio.svc.facade.RecordLableFacade" id="recordLabelFacade">
        <property name="recordLabelLogic" ref="recordLabelLogic"/>
    </bean>
    <!-- End Record Label Beans -->

    <!-- Role Beans -->
    <bean class="com.radio.svc.dalc.hibernate.RoleDA" id="roleDA">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean class="com.radio.svc.logic.RoleLogic" id="roleLogic">
        <property name="roleDA" ref="roleDA"/>
    </bean>

    <bean class="com.radio.svc.facade.RoleFacade" id="roleFacade">
        <property name="roleLogic" ref="roleLogic"/>
    </bean>
    <!-- End Role Beans -->

    <!-- User beans -->
    <bean class="com.radio.svc.dalc.hibernate.UserDA" id="userDA">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean class="com.radio.svc.logic.UserLogic" id="userLogic">
        <property name="userDA" ref="userDA"/>
        <property name="emailValidator" ref="emailValidator"/>
        <property name="roleDA" ref="roleDA"/>
        <property name="songDA" ref="songDA"/>
    </bean>

    <bean class="com.radio.svc.facade.UserFacade" id="userFacade">
        <property name="userLogic" ref="userLogic"/>
        <property name="defaultUserRole" value="ROLE_USER"/>
    </bean>
    <!-- End user beans -->

    <!-- search beans -->

    <bean class="com.radio.svc.facade.SearchFacade" id="searchFacade">
        <property name="searchLogic" ref="searchLogic"/>
    </bean>

    <bean class="com.radio.svc.logic.SearchLogic" id="searchLogic">
        <property name="albumDA" ref="albumDA"/>
        <property name="artistDA" ref="artistDA"/>
        <property name="songDA" ref="songDA"/>
        <property name="commonFile" ref="commonFile"/>
    </bean>

    <!-- End search beans -->
     <!-- FeatureSSD beans -->
    <bean class="com.radio.svc.dalc.hibernate.FeatureSSDDA" id="featureSSD">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean class="com.radio.svc.logic.FeatureSSDLogic" id="featureSSDLogic">
        <property name="songDA" ref="songDA"/>
        <property name="featureSSD" ref="featureSSD"/>
    </bean>

    <bean class="com.radio.svc.facade.FeatureSSDFacade" id="featureSSDFacade">
        <property name="featureSSDLogic" ref="featureSSDLogic"/>
    </bean>
    <!-- FeatureSSD beans -->

    <!-- station beans -->

    <bean class="com.radio.svc.dalc.hibernate.StationDA" id="stationDA">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean class="com.radio.svc.dalc.hibernate.StationFeatureDA" id="stationFeatureDA">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean class="com.radio.svc.logic.StationLogic" id="stationLogic">
        <property name="stationDA" ref="stationDA"/>
        <property name="albumDA" ref="albumDA"/>
        <property name="songDA" ref="songDA"/>
        <property name="artistDA" ref="artistDA"/>
        <property name="userDA" ref="userDA"/>
        <property name="commonFile" ref="commonFile"/>
        <property name="commonUI" ref="commonUI"/>
        <property name="stationFeatureDA" ref="stationFeatureDA"/>
    </bean>

    <bean class="com.radio.svc.facade.StationFacade" id="stationFacade">
        <property name="stationLogic" ref="stationLogic"/>
    </bean>

    <!-- End station beans -->

    <bean class="com.radio.svc.common.EmailValidator" id="emailValidator"/>

    <bean class="com.radio.svc.common.CommonFile" id="commonFile">
        <property name="dash" value="-"/>
        <property name="dot" value="."/>
        <property name="separator" value="/"/>
        <property name="songArtworksRepositoryBasePath" value="${taghcheh_radio.songartworkspath}"/>
        <property name="songsRepositoryBasePath" value="${taghcheh_radio.songspath}"/>
        <property name="artistArtworkRepositoryBasePath" value="${taghcheh_radio.artistartworkspath}"/>
        <property name="recordLabelArtworkRepositoryBasePath" value="${taghcheh_radio.recordlabelartworkpath}"/>
        <property name="albumArtworkRepositoryBasePath" value="${taghcheh_radio.albumartworkspath}"/>
        <property name="stationArtworkRepositoryBasePath" value="${taghcheh_radio.stationartworkpath}"/>
        <property name="songsPathAlias" value="${taghcheh_radio.songspathalias}"/>
        <property name="songArtworksAlias" value="${taghcheh_radio.songartworksalias}"/>
        <property name="artistaArtworksaAlias" value="${taghcheh_radio.artistartworksalias}"/>
        <property name="recordlabelArtworkAlias" value="${taghcheh_radio.recordlabelartworkalias}"/>
        <property name="albumArtworksAlias" value="${taghcheh_radio.albumartworksalias}"/>
        <property name="stationArtworkAlias" value="${taghcheh_radio.stationartworkalias}"/>
        <property name="domain" value="${taghcheh_radio.domain}"/>
        <property name="initsongpath" value="${taghcheh_radio.initsongspath}"/>
        <property name="initalbumartworkpath" value="${taghcheh_radio.initalbumartworkpath}"/>
        <property name="initartistartworkpath" value="${taghcheh_radio.initartistartworkpath}"/>
        <property name="initrecordlabelartworkpath" value="${taghcheh_radio.initrecordlabelartworkpath}"/>
        <property name="initsongartworkpath" value="${taghcheh_radio.initsongartworkpath}"/>

    </bean>

    <bean class="com.radio.svc.common.CommonUI" id="commonUI">
        <property name="adminImageHeight" value="${taghcheh_interface.admin.imageheight}"/>
        <property name="adminImageWidth"  value="${taghcheh_interface.admin.imagewidth}"/>
    </bean>


    <!--- Email Bean-->
    <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <property name="host" value="smtpout.secureserver.net"/>
        <property name="port" value="3535"/>
        <property name="username" value="info@taghcheh.com"/>
        <property name="password" value="1367Farhad"/>
        <property name="javaMailProperties">
            <props>
                <prop key="mail.transport.protocol">smtp</prop>
                <prop key="mail.smtp.auth">true</prop>
                <prop key="mail.smtp.starttls.enable">true</prop>
                <prop key="mail.debug">true</prop>
            </props>
        </property>
    </bean>
    <bean id="emailController" class="com.radio.svc.controllers.radio.EmailController">
        <property name="mailSender" ref="mailSender" />
    </bean>
    <!-- Email end-->


    <bean class="com.radio.svc.common.ImageFormat" id="imageFormat"/>

    <tx:advice id="txAdvice" transaction-manager="txManager">
        <tx:attributes>
            <tx:method name="get*" propagation="REQUIRED" read-only="true"/>
            <tx:method name="*" rollback-for="java.lang.Throwable"/>
        </tx:attributes>
    </tx:advice>

    <aop:config>
        <aop:pointcut id="ISongServiceProviderTrans"
                      expression="execution(* com.radio.svc.serviceinterface.ISongServiceProvider.*(..) )"/>
        <aop:pointcut id="IArtistServiceProviderTrans"
                      expression="execution(* com.radio.svc.serviceinterface.IArtistServiceProvider.*(..) )"/>
        <aop:pointcut id="IGenreServiceProviderTrans"
                      expression="execution(* com.radio.svc.serviceinterface.IGenreServiceProvider.*(..) )"/>
        <aop:pointcut id="IRecordLabelServiceProviderTrans"
                      expression="execution(* com.radio.svc.serviceinterface.IRecordLabelServiceProvider.*(..) )"/>
        <aop:pointcut id="IUserServiceProvider"
                      expression="execution(* com.radio.svc.serviceinterface.IUserServiceProvider.*(..) )"/>
        <aop:pointcut id="IAlbumServiceProvider"
                      expression="execution(* com.radio.svc.serviceinterface.IAlbumServiceProvider.*(..) )"/>
        <aop:pointcut id="IRoleSerivceProvider"
                      expression="execution(* com.radio.svc.serviceinterface.IRoleServiceProvider.*(..) )"/>
        <aop:pointcut id="ISearchServiceProvider"
                      expression="execution(* com.radio.svc.serviceinterface.ISearchServiceProvider.*(..) )"/>
        <aop:pointcut id="IStationServiceProvider"
                      expression="execution(* com.radio.svc.serviceinterface.IStationServiceProvider.*(..) )"/>
        <aop:advisor advice-ref="txAdvice" pointcut-ref="ISongServiceProviderTrans"/>
        <aop:advisor advice-ref="txAdvice" pointcut-ref="IArtistServiceProviderTrans"/>
        <aop:advisor advice-ref="txAdvice" pointcut-ref="IGenreServiceProviderTrans"/>
        <aop:advisor advice-ref="txAdvice" pointcut-ref="IRecordLabelServiceProviderTrans"/>
        <aop:advisor advice-ref="txAdvice" pointcut-ref="IUserServiceProvider"/>
        <aop:advisor advice-ref="txAdvice" pointcut-ref="IAlbumServiceProvider"/>
        <aop:advisor advice-ref="txAdvice" pointcut-ref="IRoleSerivceProvider"/>
        <aop:advisor advice-ref="txAdvice" pointcut-ref="ISearchServiceProvider"/>
        <aop:advisor advice-ref="txAdvice" pointcut-ref="IStationServiceProvider"/>
    </aop:config>

</beans>