<?xml version="1.0" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="true" threshold="info"
                     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                     xsi:schemaLocation="http://jakarta.apache.org/log4j/ ">

    <appender name="SystemOut" class="org.apache.log4j.ConsoleAppender">
        <param name="threshold" value="INFO"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="conversionPattern" value="%d{ISO8601} -- %p -- %m%n"/>
        </layout>
    </appender>

    <appender name="FileASYNC" class="org.apache.log4j.AsyncAppender">
        <appender-ref ref="SystemOut"/>
    </appender>

    <root>
        <level value="info"/>
        <appender-ref ref="SystemOut"/>
    </root>

</log4j:configuration>