<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
           version="2.5">

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>WEB-INF/applicationContext.xml</param-value>
    </context-param>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>AddSong</servlet-name>
        <servlet-class>com.radio.test.web.addsong</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddSong</servlet-name>
        <url-pattern>/addsong</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddArtist</servlet-name>
        <servlet-class>com.radio.test.web.addartist</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddArtist</servlet-name>
        <url-pattern>/addartist</url-pattern>
    </servlet-mapping>

</web-app>
