<?xml version="1.0" encoding="UTF-8"?>
<bean:beans xmlns:bean="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans      http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/security   http://www.springframework.org/schema/security/spring-security.xsd">


    <http auto-config="true" use-expressions="true">
        <!-- Line below is used for only the first time -->
        <!-- After first setting up the administrator, then you need to deactivate it -->
        <!--<intercept-url pattern="/*" access="isAnonymous()"/>-->
        
        <intercept-url pattern="/radio/*" access="permitAll"/>
        <intercept-url pattern="/front/images/*" access="permitAll"/>
        <intercept-url pattern="/front/css/*" access="permitAll"/>
        <intercept-url pattern="/front/less/*" access="permitAll"/>
        <intercept-url pattern="/front/fonts/*" access="permitAll"/>
        <intercept-url pattern="/front/privacypolicy.jsp" access="permitAll"/>
        <intercept-url pattern="/admin/roleadmin.jsp" access="hasRole('ROLE_ADMIN')"/>
        <intercept-url pattern="/admin/useradmin.jsp" access="hasRole('ROLE_ADMIN')"/>
        <intercept-url pattern="/front/index.jsp" access="hasAnyRole('ROLE_ADMIN','ROLE_USER')"/>
        <intercept-url pattern="/front/*" access="hasAnyRole('ROLE_ADMIN', 'ROLE_USER')"/>
        <!-- FH Added this so front will go to login page too.-->
        <intercept-url pattern="/admin/*" access="hasAnyRole('ROLE_ADMIN', 'ROLE_SUPPORT')"/>
        <form-login login-page="/radio/login.jsp"
                             default-target-url="/front/index.jsp"
                             authentication-failure-url="/radio/login.jsp?error=true"
                             login-processing-url="/perform_login"/>

        <logout logout-url="/perform_logout"
                logout-success-url="http://127.0.0.1:8080/radio/login.jsp"/>

    </http>

    <authentication-manager alias="authenticationManager">
        <authentication-provider user-service-ref="userDA"/>
    </authentication-manager>

</bean:beans>